{{>header}}
{{>navbar}}
<form>
    <div class="mb-3">
        <input name="name" placeholder="Your name" class="form-control">
    </div>
    <div class="mb-3">
        <input name="email" placeholder="Your email" class="form-control">
    </div>
    <div class="mb-3">
        <input name="age" placeholder="Your age" class="form-control">
    </div>
    <div class="mb-3">
            <button class="btn btn-primary">Edit User</button>
    </div>
</form>
{{>footer}}